$primary: #fc0;
$black: #000;
$lighter-black: #222;
$dark-grey: #333;
$grey: #555;
$light-grey: #ccc;
$lighter-grey: #e5e;
$lightest-grey: #f0f;
$white-smoke: #f5f5f5;
$light-white: #fafafa;
$white: #fff;
