h1 {
  font-size: rem(50px);
  line-height: rem(56px);
}

h2 {
  font-size: rem(42px);
  line-height: rem(48px);
}

h3 {
  font-size: rem(34px);
  line-height: rem(38px);
}

h4 {
  font-size: rem(30px);
  line-height: rem(36px);
}

h5 {
  font-size: rem(26px);
  line-height: rem(32px);
}

h6 {
  font-size: rem(22px);
  line-height: rem(26px);
}

h7 {
  font-size: rem(18px);
  line-height: rem(24px);
}

.copy-one,
.copy-two,
.copy-three,
.copy-four,
.copy-five {
  font-family: "tiempos";
}

.copy-one {
  font-size: rem(18px);
  line-height: rem(30px);
}

.copy-two {
  font-size: rem(16px);
  line-height: rem(30px);
}

.copy-three {
  font-size: rem(15px);
  line-height: rem(28px);
}

.copy-four {
  font-size: rem(14px);
  line-height: rem(26px);
}

.copy-five {
  font-size: rem(14px);
  line-height: rem(26px);
}

.taxonomy {
  font: 12px/14px verlag-book;
}

.byline1 {
  font: 12px/20px verlag-book;
}

.byline2 {
  font: 11px/14px verlag-bold;
}

.byline3 {
  font: 15px/25px haas;
}

.byline4 {
  font: 14px/22px haas;
}
