@font-face {
  font-family: "haas", Sans;
  font-weight: medium;
  src: url(/assets/fonts/HaasGrotDisp-55Medium.otf);
}

@font-face {
  font-family: "haas", Sans;
  font-weight: roman;
  src: url(/assets/fonts/HaasGrotDisp-55Roman.otf);
}

@font-face {
  font-family: "verlag-book";
  font-weight: normal;
  src: url(/assets/fonts/Verlag-Book.otf);
}

@font-face {
  font-family: "verlag-bold";
  font-weight: bold;
  src: url(/assets/fonts/Verlag-Bold.otf);
}

@font-face {
  font-family: "tiempos";
  font-weight: regular;
  src: url(/assets/fonts/TiemposText-Regular.otf);
}
