@font-face {
  font-family: "neue";
  // url:
}

@font-face {
  font-family: "verlag";
  // url:
}

@font-face {
  font-family: "verlag-bold";
  font-weight: bold;
  // url:
}

@font-face {
  font-family: "tiempos";
  // url:
}
